@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.course-tile {
  height: 400px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.courses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.completion-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-left-links ul {
  display: flex;
}

.nav-left-links a {
  margin-right: 5px; /* Adjust this value to add the desired space */
}

.nav-right ul {
  display: flex;
}

.nav-right a {
  margin-left: 5px; /* Adjust this value to add the desired space */
}




.input-button {
  align-items: center;
}

:root {
  --primary-color: #ffebcd;
  --secondary-color:  #76eec2;  
}

body{
  font-family: 'Nunito', sans-serif;
}

.data-container {
  background-color: var(--primary-color);
  padding: 10px;
  border: 1px solid var(--secondary-color);

}

#appBox {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#schemaMaker {
  background-color: var(--primary-color);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5%;
  padding-top: 2%;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border-radius: 1.5em;

}

#schemaExporters {
  margin: 10px;
  background-color: var(--secondary-color);
}

pre {
  background-color: darkslategray;
  color: greenyellow;
  padding: 15px;
}

.schemaRow {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  gap: 3%;
  background-color: var(--secondary-color);
  width: 80%;
  font-family: 'Nunito', sans-serif;
}


.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-family: 'Nunito', sans-serif;
}


button{
  font-family: 'Nunito', sans-serif;
  border-radius: .4em;


}

input{
  font-family: 'Nunito', sans-serif;
}

.profile-box {
  display: flex;
  flex-direction: row;
}